$text-dark: #5F5F5F
$text-black: #3C3C3C
$text-light: #666666

$color-light: #EEEEEE
$color-dark: #707070
$color-black: #161616


$background-index: -10
$nav-index: 10
$loader-index: 20


$hd-width: 1400px
$tablet-width: 1100px
$mobile-width: 800px