@import '../abstracts/variables'

footer
    height: 140px
    width: 90%
    margin: 0 auto 0 auto
    background-color: $color-light
    border-top-right-radius: 25px
    border-top-left-radius: 25px
    box-shadow: 0 0 5rem $color-light
