@import '../abstracts/variables'

main
    // display: grid
    // grid-auto-flow: row
    // justify-content: center
    // align-items: center
    // row-gap: 100px
    display: flex
    justify-content: center
    align-items: center
    flex-flow: column

    .strip
        margin-top: 100px
        width: 80%

    .projects
        margin-top: 200px
        width: 80%