@import '../abstracts/variables'

.button
    position: relative
    margin-right: 40px
    font-size: 1.6rem
    font-weight: 700

    &-box
        background-color: $color-light
        position: absolute
        width: 120%
        height: 140%
        top: 0
        right: -40px
        border-radius: 16px
        z-index: $background-index

        &-arrow
            position: absolute
            display: block
            width: 80px
            height: 100%
            bottom: -10px
            right: -30px
            transition-duration: 0.5s

            line
                stroke-width: 8
                stroke: $text-black
                stroke-linecap: round

    &:hover
        cursor: pointer
        .button
            &-box
                &-arrow
                    transform: translateX(15%)