@import '../abstracts/variables'

.navbar
    display: block
    width: 100%
    overflow: hidden

    &-hamburger
        display: none
        grid-area: hamburger
        width: 40px
        height: 60px
        position: relative

        &-line
            position: absolute
            top: 32px
            left: 0
            display: block
            width: 100%
            height: 5px
            border-radius: 6px
            background-color: $color-dark
            transition: transform 400ms

        &-line:nth-of-type(1)
            transform: translateY(12px)

        &-line:nth-of-type(2)
            transform: translateY(-12px)

    &-content
        display: grid
        grid-area: content
        grid-template-areas: 'pages . contact'
        grid-template-columns: auto 1fr auto
        width: 100%

        &-pages
            grid-area: pages
            display: inline-grid
            grid-auto-flow: column
            column-gap: 40px
            list-style-type: none

        &-contact
            grid-area: contact

    &-item
        display: inline-block
        font-size: 1.6rem
        color: $text-dark
        font-weight: 700
        position: relative

    .active:after
        left: 0
        width: 100%

    &-item:after
        // background: none repeat scroll 0 0 transparent
        content: ""
        bottom: 0px
        display: block
        height: 3px
        left: 0
        position: absolute
        background: $text-dark
        transition: width 0.3s ease 0s, left 0.3s ease 0s
        width: 0px

    &-item:hover
        cursor: pointer

    &-item:hover:after
        left: 0
        width: 100%

@media screen and ( max-width: $tablet-width )
    .navbar
        display: grid
        grid-template-areas: '. hamburger .' 'content content content'
        grid-template-columns: 1fr auto 20px
        transition: background-color 400ms ease-in-out

        &-hamburger
            display: block

        &-content
            height: 0px
            grid-template-areas: 'pages' 'contact'
            grid-template-columns: 100%
            justify-items: center
            transition-duration: 400ms
            // transition: border 500ms

            // border-radius: 1000px

            &-pages
                padding: 60px 0 60px
                row-gap: 0
                text-align: center
                grid-auto-flow: row
                align-items: center

            &-contact
                align-self: center

        &-item
            align-self: center
            font-size: 2rem
            padding: 10px 0 10px

    .active
        background-color: white
        .navbar-hamburger-line
            transform: translateY(0px)
        .navbar-content
            height: 600px
            // border: 100px solid red

        // .navbar-hamburger
        //     border: 600px solid red
            // border-radius: 10px