@import '../abstracts/variables'
    
.strip
    display: grid
    grid-template-areas: 'header . card'
    grid-auto-columns: auto minmax(100px, 1fr) minmax(auto, 500px)
    align-items: center

    &-header
        grid-area: header
        color: $text-black

    &-card
        align-items: center
        grid-area: card
        display: grid
        grid-template-areas: 'text image'
        column-gap: 40px
        p
            grid-area: text
        img
            grid-area: image
            width: 100px
            filter: invert($inversion-filter)

@media screen and ( max-width: $tablet-width )
    .strip
        grid-template-areas: 'header' 'card'
        grid-auto-columns: 100%
        row-gap: 100px

        &-header
            max-width: 80%
            justify-self: flex-start

        &-card
            max-width: 80%
            justify-self: flex-end

@media screen and ( max-width: $mobile-width )
    .strip
        &-header
            width: 100%
            max-width: 100%

        &-card
            max-width: 100%
            width: 100%
            img
                width: 80px