@import '../abstracts/variables'

h2, h3
    color: var(--text-black)
    user-select: none

h2
    font-size: 2.6rem
    font-weight: 700
    user-select: none

h3
    font-size: 2rem
    font-weight: 600
    user-select: none

p, li 
    font-size: 1.6rem
    font-weight: 300
    color: var(--text-light)
    word-break: break-word
    user-select: none

a, a:hover, a:focus
    text-decoration: none
    color: var(--text-black)
    outline: none

a:active
    outline: none

a:hover
    cursor: pointer